@use "../../styles/utils" as *;

.main {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;

  @include on-tablet {
    align-items: center;
  }

  @include on-desktop {
    height: 650px;
  }

  &__img {
    object-fit: cover;
    position: absolute;
    left: 0;
    z-index: -1;
    top: 60px;
    width: 100%;
    height: 500px;

    @include on-desktop {
      height: 650px;
      left: 50%;
      transform: translate(-50%);
    }

    @include on-large-desktop {
      @include container;
    }
  }

  &__box {
    text-align: center;
    padding-bottom: 71px;

    @include container;

    @include on-tablet {
      padding: 0;
      width: 380px;
      box-sizing: border-box;
    }
  }

  &__title {
    color: $white-color;
  }

  &__text {
    padding-top: 21px;
    color: $white-color;
  }

  &__button {
    padding-top: 32px;
    display: flex;
    justify-content: center;
  }
}
