$yellow-color: #F4E041;
$hover-yellow-color: #FFE302;
$blue-color: #00BDD3;
$white-color: #FFFFFF;
$background-color: #F8F8F8;
$text-color: #000000DE;
$disabled-color: #B4B4B4;
$disabled-text-color: #FFFFFFDE;
$border-color: #D0CFCF;
$placeholder-color: #7E7E7E;
$red-color: #CB3D40;